.primary {
  background: #1a73e8;
  border-color: transparent;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 20px;

  &:hover {
    opacity: 0.8;
  }
}

.secondary {
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  padding: 5px 20px;

  &:hover {
    opacity: 0.8;
  }
}
