.weather {
  align-items: center;
  display: flex;
  font-size: 20px;
  justify-content: space-evenly;
}

.features {
  display: flex;

  > li {
    margin-right: 10px;
  }
}

.image {
  height: 30px;
  width: 30px;
}
