@import './variables';
@import './normalize';
@import './react-tiny-popover';
@import './react-daypicker';
@import './icons';

* {
  box-sizing: border-box;
  color: $color-black;
}

body {
  background: $color-white;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
