@import 'src/styles/variables';

.grid {
  overflow: hidden;
}

.header {
  background: $color-blue;
  color: $color-white;
  display: flex;

  > * {
    width: 100%;
  }
}

.dayweek {
  overflow: hidden;
  padding: 10px 2px;
}

.body {
  border-bottom: 1px solid $color-light-gray;
  border-left: 1px solid $color-light-gray;
  display: flex;
  flex-direction: column;
  height: 90vh;

  > * {
    flex: 1;
  }
}

.row {
  border-top: 1px solid $color-light-gray;
  display: flex;
  overflow: hidden;

  > * {
    border-right: 1px solid $color-light-gray;
    width: 100%;
  }
}

.short {
  display: none;
}

@media screen and (max-width: 600px) {
  .short {
    display: inline;
  }

  .large {
    display: none;
  }
}
