.month-grid {
  display: flex;
}

.header {
  background: $color-blue;
  display: flex;

  > * {
    width: 100%;
  }
}

.body {
  border-bottom: 1px solid $color-red;
  border-left: 1px solid $color-red;
  display: flex;
  flex-direction: column;
  height: 90vh;

  > * {
    flex: 1;
  }
}

.row {
  border-top: 1px solid $color-red;
  display: flex;
  overflow: hidden;

  > * {
    border-right: 1px solid $color-red;
    width: 100%;
  }
}
