@import 'src/styles/variables';

.li {
  overflow: hidden;
}

.color {
  margin-top: 4px;
  position: absolute;
}

.reminder {
  overflow: hidden;
  padding-left: 19px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
}

.actions {
  text-align: right;

  > div {
    cursor: pointer;
    margin-left: 10px;
  }
}

@media screen and (max-width: $sm) {
  .reminder {
    padding-left: 10px;
  }
}
