@import 'src/styles/variables';

.list {
  padding: 2px 4px;

  > li {
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    margin-bottom: 4px;
    padding: 2px 6px;
    text-align: left;
  }

  > li:hover {
    background: #f2f3f4;
  }
}

@media screen and (max-width: $sm) {
  .list > li {
    margin-bottom: 2px;
    padding: 0;
  }
}
