@import 'src/styles/variables';

.actions {
  display: flex;
  margin-left: auto;
  margin-right: 6px;
  margin-top: 3px;
  visibility: hidden;
}

.action {
  cursor: pointer;
}

.cell {
  overflow: hidden;

  > div {
    height: 100%;
  }

  &:hover .actions {
    visibility: visible;
  }
}

.disabled {
  opacity: 0.4;
}

.header {
  display: flex;
}

.day {
  font-weight: bold;
  margin-left: 6px;
  margin-top: 3px;
}

.today {
  background: $color-blue;
  border-radius: 50%;
  color: $color-white;
  display: inline-block;
  margin-left: 2px;
  margin-top: 2px;
  padding: 4px;
}

.weekend {
  background: #f2f2f2;

  .day {
    color: #1b73e8;
  }
}
